# Node.js dependencies
node_modules

# Output
.vercel
/.next
/out
/build
/dist

# IDE and OS files
.DS_Store
.idea
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Coverage data
/coverage

# Optional eslint cache
.eslintcache

# Optional npm cache directory
/.npm

# Logs and temporary files
*.log
npm-debug.log*
