# This workflow will validate commit messages against the conventional commit specification.

name: "Commit Linter"

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  commitlint:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 #v2.0.2
        with:
          bun-version: latest

      - name: Install dependencies with Bun
        run: bun --bun install --frozen-lockfile

      - name: Validate current commit (push)
        if: github.event_name == 'push'
        run: bunx commitlint --last --verbose

      - name: Validate PR commits (pull_request)
        if: github.event_name == 'pull_request'
        run: bunx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose
