# This workflow will lint code using ESLint and check formatting with Prettier.

name: Lint Code

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 #v2.0.2
        with:
          bun-version: latest

      - name: Install dependencies with Bun
        run: bun --bun install --frozen-lockfile

      - name: Lint code
        run: bun --bun run lint
